$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-search-form:#EAEAEA;
$color-background:#F6F6F6;
$color-shadow:#dadada;
$color-shadow-hover:#c5c4c4;
$border-radius:25px;
$border-radius-menu:15px;
$size-shadow:4px;
$size-shadow-hover:5px;
