* {
    margin:0;
    padding: 0;
}

*, 
*::before, 
*::after { 
    box-sizing: inherit; 
} 

html { 
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}