@-webkit-keyframes animHeart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  } 
@keyframes animHeart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
@keyframes slide-right {
  0% {
    transform:transformX(0); 
  }
  100% {
    transform:transformX(66px);
  }
}
@keyframes slide-left {
  0% {
    margin-right: 0px;
  }
  100% {
    margin-right: 20px;
  }
}
@keyframes rotate-icon {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes anim-menu-box {
  0% {
    transform-origin: 100% top;
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform:translateY(0);
  }
}
@keyframes anim-menu{
  0% {
    margin-top:-300px;
  }
  100% {
    margin-top:0;
  }
}