@-webkit-keyframes animHeart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  } 
@keyframes animHeart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
@keyframes slide-right {
  0% {
    transform:transformX(0); 
  }
  100% {
    transform:transformX(66px);
  }
}
@keyframes slide-left {
  0% {
    margin-right: 0px;
  }
  100% {
    margin-right: 20px;
  }
}
@keyframes rotate-icon {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes anim-menu-box {
  0% {
    transform-origin: 100% top;
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform:translateY(0);
  }
}
@keyframes anim-menu{
  0% {
    margin-top:-300px;
  }
  100% {
    margin-top:0;
  }
}
@keyframes stove {
  0% {
    transform: translate(200px, 1vh);
  }
  25% {
    transform: translate(7vh, 4vh);
  }
  50% {
    transform: translate(-100px, -20vh);
 
  }
  100% {
    transform: translate(100px, 1vh);
  }
}
@keyframes stove-mobile {
  0% {
    transform: translate(4vh, 2vh);
  }
  50% {
    transform: translate(-100px, -20vh);
  }
  100% {
    transform: translate(50px, 1vh);
  }
}
@keyframes rotate {
  0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(180deg);
 }
}
@keyframes food {
  0%  {
      transform:scale(1);
      text-shadow: 0 0 0 $color-secondary;
  }
  50% {
    transform:scale(1);
      text-shadow: 0 0 0 $color-tertiary;
  }
  100% {
    transform:scale(1);
    text-shadow: 0 0 0 $color-primary; 
  }
}
@keyframes letters {
  0%  {
    transform: translateY(0) scale(1.3);
    color: $color-primary;
    text-shadow:
        0 0 16px #ffd6d6,
        0 0 32px $color-secondary,  
  }
  25% {
    transform: translateY(-15px) scale(1.2);
    color: $color-secondary;
    text-shadow: none;
  }
  50% {
    transform:translateY(-15px) scale(1);
    color: black;
     text-shadow:
        0 0 16px #f95600,
        0 0 32px $color-secondary,
        0 0 90px $color-secondary,
  }
  75% {
    transform: translateY(0) scale(1.5);
    color: $color-primary;
    text-shadow: none;
  }
  100% {
    transform: translateY(-15px) scale(0.5);
    color: black;
     text-shadow:
        0 0 16px #f95600,
        0 0 32px $color-secondary,
        0 0 124px $color-secondary;
  }
}