@-webkit-keyframes animHeart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  } 
@keyframes animHeart {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
  @keyframes progress-image {
    0% {
      transform-origin: 50% 0%;
      transform:scale(-1) rotate(180deg);
      
    }
    50% {
      border-radius: 70%;
      transform:scale(0) rotate(180deg);
    }
    100% {
      transform-origin: 50% 50%;
      transform: scale(1);
    }
  }