$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-search-form:#EAEAEA;
$color-background:#F6F6F6;
$color-shadow:#D3D3D3;
$border-radius:25px;
$size-shadow:4px;
$size-shadow-hover:6px;
